---
import DocsLayout from '../../layouts/DocsLayout.astro';
---
<DocsLayout title="BugBarn Documentation" currentSlug="">
  <h1>BugBarn Documentation</h1>
  <p>Select a topic from the sidebar to get started, or jump straight to the <a href="/bugbarn/docs/getting-started">Getting Started guide</a>.</p>
</DocsLayout>
