.git
.cache
.data
tmp
var

node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
*.tgz
**/*.tgz

__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
.venv
**/.venv

.DS_Store
*.log
*.db
*.sqlite
*.sqlite3
